global
  log /dev/log	local0
  log /dev/log	local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
  stats timeout 30s
  daemon

defaults
  log	global
  mode	tcp
  option tcplog
  timeout connect 5000
  timeout client  50000
  timeout server  50000

frontend k8s-api
  bind 0.0.0.0:443
  mode tcp
  option tcplog
  timeout client 300000
  default_backend k8s-api

backend k8s-api
  mode tcp
  option tcplog
  option tcp-check
  timeout server 300000
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  server apiserver1 127.0.0.1:6443 check

